## 날씨 데이터 전처리

##### 기온, 풍속, 강수량, 습도 데이터와 주문 횟수 사이에 연관성이 있는지 확인하기 위해 노원구 날씨 데이터 전처리

In [ ]:
# 날씨 데이터의 '일시' 열에 날짜와 시간이 합쳐져 있어 주문건수 데이터와 'time'을 기준으로 join하기 위한 전처리 필요
# datetime 모듈을 활용하여 '일시' 열의 날짜와 시간을 각각 추출한 후 'time', '일자'를 열로 추가
weather_data['time'] = weather_data['일시'].dt.hour
weather_data['일자'] = weather_data['일시'].dt.date

In [4]:
# import library
import pandas as pd
import datetime as dt

In [5]:
#데이터 불러오기
weather_data = pd.read_excel('nowon_climate_data_220302_221231.xlsx')
weather_data

       지점 지점명                  일시  기온(°C)  풍향(deg)  풍속(m/s)  강수량(mm)  습도(%)
0     407  노원 2022-03-02 01:00:00    -0.9    114.2      0.7      0.0     56
1     407  노원 2022-03-02 02:00:00    -3.8     59.8      0.9      0.0     78
2     407  노원 2022-03-02 03:00:00    -4.4      0.0      0.4      0.0     80
3     407  노원 2022-03-02 04:00:00    -4.3     86.4      0.5      0.0     82
4     407  노원 2022-03-02 05:00:00    -5.4      0.0      0.4      0.0     84
...   ...  ..                 ...     ...      ...      ...      ...    ...
7291  407  노원 2022-12-30 20:00:00    -1.6    274.7      1.0      0.0     52
7292  407  노원 2022-12-30 21:00:00    -1.9    264.9      1.4      0.0     47
7293  407  노원 2022-12-30 22:00:00    -3.4      0.0      0.4      0.0     47
7294  407  노원 2022-12-30 23:00:00    -7.7     67.6      1.0      0.0     73
7295  407  노원 2022-12-31 00:00:00    -9.2     55.0      0.8      0.0     78

[7296 rows x 8 columns]

### 전처리 진행

##### 날씨 데이터의 '일시' 열에 날짜와 시간이 합쳐져 있어 주문건수 데이터와 'time'을 기준으로 join하기 위한 전처리 필요

In [6]:
# datetime 모듈을 활용하여 '일시' 열의 날짜와 시간을 각각 추출한 후 'time', '일자'를 열로 추가
weather_data['time'] = weather_data['일시'].dt.hour
weather_data['일자'] = weather_data['일시'].dt.date

# 분석에 필요하지 않은 '지점', '지점명', '일시' 열 삭제
weather_data = weather_data.drop('지점', axis=1)
weather_data = weather_data.drop('지점명', axis=1)
weather_data = weather_data.drop('일시', axis=1)
weather_data = weather_data.drop('풍향(deg)', axis=1) # 날씨 요소 중 구매에 큰 영향을 주지 않는 '풍향' 열 삭제

# 결과 확인
weather_data

      기온(°C)  풍속(m/s)  강수량(mm)  습도(%)  time          일자
0       -0.9      0.7      0.0     56     1  2022-03-02
1       -3.8      0.9      0.0     78     2  2022-03-02
2       -4.4      0.4      0.0     80     3  2022-03-02
3       -4.3      0.5      0.0     82     4  2022-03-02
4       -5.4      0.4      0.0     84     5  2022-03-02
...      ...      ...      ...    ...   ...         ...
7291    -1.6      1.0      0.0     52    20  2022-12-30
7292    -1.9      1.4      0.0     47    21  2022-12-30
7293    -3.4      0.4      0.0     47    22  2022-12-30
7294    -7.7      1.0      0.0     73    23  2022-12-30
7295    -9.2      0.8      0.0     78     0  2022-12-31

[7296 rows x 6 columns]

In [8]:
# 전처리된 날씨 데이터를 엑셀 파일로 저장
weather_data.to_excel('data_weather.xlsx', index=False)