In [1]:
import pandas as pd

In [3]:
weather = pd.read_excel('data_weather.xlsx')
data = pd.read_excel('dayoftheweek_add.xlsx')

In [4]:
# '일자'와 'time' 열을 기준으로 dayoftheweek_data와 weather_data를 left join
merged_data = pd.merge(data, weather, on=['일자', 'time'], how='left')

# 결과 확인
merged_data.head()

,Unnamed: 0,일자,semester,season,event,time,합계,day of the week,기온(°C),풍속(m/s),강수량(mm),습도(%)
0,0,2022-03-02,1,0,0,8,15,2,-2.9,0.6,0.0,78
1,1,2022-03-02,1,0,0,9,12,2,0.4,1.2,0.0,59
2,2,2022-03-02,1,0,0,10,18,2,3.6,0.3,0.0,47
3,3,2022-03-02,1,0,0,11,39,2,5.2,1.3,0.0,42
4,4,2022-03-02,1,0,0,12,34,2,6.8,1.2,0.0,27